# Tratamento de base - ONE

In [50]:
import pandas as pd

In [51]:

df = pd.read_csv('one.csv',sep=';')

C:\Users\Gabriel\AppData\Local\Temp\ipykernel_57668\810062649.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,9,10,11,12,13,14,16,17,19,21,22,23,24,25,26,27,28,29,30,32,33,34,35,36,39,40,43) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('one.csv',sep=';')

In [52]:
# Convertendo coluna DDD para OBJECT removendo o .0
df['DDD'] = df['DDD'].astype(str).str.replace('.0', '', regex=False)

In [53]:
# Concatenando coluna 'DDD' com 'Telefone da instituição'
df_telefone = df['DDD'].fillna('').astype(str) + df['Telefone da Instituição'].fillna(' ').astype(str)
df_telefone

0          6936413055
1          6935353713
2          6935352931
3          6935352479
4          6935354430
              ...
1048570          nan
1048571          nan
1048572          nan
1048573          nan
1048574          nan
Length: 1048575, dtype: object

In [54]:
# Encontrando todo os campos preenchidos e retirando tudo que não for dígito. 
df['Telefone Contato 1'] = df['Telefone Contato 1'].dropna(how='all').astype(str).str.replace(r'\D', '', regex=True)
df['Telefone Contato 1'].dropna(how='all')

3454     98985522650
5012     85998290110
5037     85988376898
5071     85992064243
7805     84987163369
            ...
59691    14996315109
59694    13974234486
59703    18981321816
59728    13997816502
59731    11985570474
Name: Telefone Contato 1, Length: 3473, dtype: object

In [55]:
# Encontrando todo os campos preenchidos e retirando tudo que não for dígito. 
df['Telefone Contato 2'] = df['Telefone Contato 2'].dropna(how='all').astype(str).str.replace(r'\D', '', regex=True)
df['Telefone Contato 2'].dropna(how='all')

2339     63984309064
2412     63985039057
2440     63984535720
2853      8688421282
3471      9838781872
            ...
57939    17996681994
57949    48998213344
57960    35999152730
58255    11976444644
59703    18997630780
Name: Telefone Contato 2, Length: 422, dtype: object

In [56]:
# Encontrando todo os campos preenchidos e retirando tudo que não for dígito. 
df['Telefone Contato 3'] = df['Telefone Contato 3'].dropna(how='all').astype(str).str.replace(r'\D', '', regex=True)
df['Telefone Contato 3'].dropna(how='all')

2237     6334152835
2244     6334140372
2245     6334162100
2257     6334160109
2264     6334123176
            ...
57795    6133951952
57809    6130115054
57814    6133510110
57816    6133791116
57819    6134756945
Name: Telefone Contato 3, Length: 1451, dtype: object

In [57]:
# Definindo função que irá padronizar os números de telefone do DataFrame. 
def padroniza_tel(tel):
    return ''.join(filter(str.isdigit, str(tel))) if pd.notnull(tel) else ''

In [58]:
# Padroniza os telefones nos dataframes

df['Telefone Contato 1'] = df['Telefone Contato 1'].apply(padroniza_tel)
df['Telefone Contato 2'] = df['Telefone Contato 2'].apply(padroniza_tel)
df['Telefone Contato 3'] = df['Telefone Contato 3'].apply(padroniza_tel)
df_telefone = df_telefone.apply(padroniza_tel)
df['telefone'] = df_telefone

In [59]:

for col in ['Telefone Contato 1', 'Telefone Contato 2', 'Telefone Contato 3']:
    df[col] = df.apply(lambda row: '' if row[col] == row['telefone'] else row[col], axis=1)

In [60]:
df = df.dropna(subset=['Instituição'])

In [61]:
# Concatenando coluna 'DDD' com 'Telefone da instituição'
df_telefone = df['DDD'].fillna('').astype(str) + df['Telefone da Instituição'].fillna(' ').astype(str)
df_telefone

0        6936413055
1        6935353713
2        6935352931
3        6935352479
4        6935354430
            ...
59730          nan
59731          nan
59732          nan
59733          nan
59734          nan
Length: 59735, dtype: object

# Organizando as colunas do DataFrame

In [62]:
# Padronizando colunas com letra maiuscúla
df.columns = df.columns.str.upper()

In [63]:
# Incluindo coluna Tipo de Empresa e Nível de ensino
df['TIPO DE EMPRESA'] = ''

In [64]:
# Organizando as colunas 
df = df[[
    'ORIGEM', 'CÓDIGO DA INSTITUIÇÃO', 'INSTITUIÇÃO', 'SIGLA', 'TIPO DE EMPRESA', 'DEPENDÊNCIA ADMINISTRATIVA', 'CATEGORIA', 'GRUPO CONSOLIDADOR',
    'NÍVEL DE ENSINO', 'RANGE DE MATRÍCULAS', 'TOTAL DE MATRÍCULAS', 'TICKET MÉDIO',  'ENDEREÇO', 'NÚMERO', 'COMPLEMENTO', 'BAIRRO', 'CEP','MUNICÍPIO', 'ESTADO', 'REGIÃO',
    'TELEFONE', 'NOME CONTATO 1', 'CARGO CONTATO 1 ', 'E-MAIL CONTATO 1', 'TELEFONE CONTATO 1', 'NOME CONTATO 2', 'CARGO CONTATO 2', 'EMAIL CONTATO 2', 'TELEFONE CONTATO 2',    
    'NOME CONTATO 3', 'CARGO CONTATO 3 ', 'EMAIL CONTATO 3', 'TELEFONE CONTATO 3' ]]

In [65]:
# Renomeando colunas 
df = df.rename(columns={
    'INSTITUIÇÃO': 'EMPRESA',
    'NOME CONTATO 1': 'CONTATO I',
    'CARGO CONTATO 1 ': 'ÁREA I',
    'E-MAIL CONTATO 1': 'EMAIL I',
    'TELEFONE CONTATO 1': 'TELEFONE CONTATO I',
    'NOME CONTATO 2': 'CONTATO II',
    'CARGO CONTATO 2': 'ÁREA II',
    'EMAIL CONTATO 2': 'EMAIL II',
    'TELEFONE CONTATO 2': 'TELEFONE CONTATO II',
    'NOME CONTATO 3': 'CONTATO III',
    'CARGO CONTATO 3 ': 'ÁREA III',
    'EMAIL CONTATO 3': 'EMAIL III',
    'TELEFONE CONTATO 3': 'TELEFONE CONTATO III'
})

In [ ]:
# Renomeando coluna de telefone para telefona da instituição
df = df.rename(columns={'TELEFONE': 'TELEFONE DA INSTITUIÇÃO'})

In [ ]:
# Definindo tipos de empresas
df['TIPO DE EMPRESA'] = 'Instituição de ensino'

# Melhorando o Range de Matrículas

In [70]:
# definindo limites e criando as nomenclaturas 
bins = [0, 500, 1000, 1500, 2000, 2500, 3000, 3500, float('inf')]
labels = ['0 a 500', '501 a 1000', '1001 a 1500', '1501 a 2000', '2001 a 2500', '2501 a 3000', '3001 a 3500', '3501 a infinito']

In [71]:
df['RANGE DE MATRÍCULAS'] = pd.cut(df['TOTAL DE MATRÍCULAS'], bins=bins, labels=labels, right=True, include_lowest=True)

In [ ]:
df.to_csv("carga_one_v1.csv", index=False)