# Tratamento de base - ONE

In [ ]:
import pandas as pd

In [ ]:

df = pd.read_csv('one.csv',sep=';')

In [ ]:
# Convertendo coluna DDD para OBJECT removendo o .0
df['DDD'] = df['DDD'].astype(str).str.replace('.0', '', regex=False)

In [ ]:
# Concatenando coluna 'DDD' com 'Telefone da instituição'
df_telefone = df['DDD'].fillna('').astype(str) + df['Telefone da Instituição'].fillna(' ').astype(str)
df_telefone

In [ ]:
# Encontrando todo os campos preenchidos e retirando tudo que não for dígito. 
df['Telefone Contato 1'] = df['Telefone Contato 1'].dropna(how='all').astype(str).str.replace(r'\D', '', regex=True)
df['Telefone Contato 1'].dropna(how='all')

In [ ]:
# Encontrando todo os campos preenchidos e retirando tudo que não for dígito. 
df['Telefone Contato 2'] = df['Telefone Contato 2'].dropna(how='all').astype(str).str.replace(r'\D', '', regex=True)
df['Telefone Contato 2'].dropna(how='all')

In [ ]:
# Encontrando todo os campos preenchidos e retirando tudo que não for dígito. 
df['Telefone Contato 3'] = df['Telefone Contato 3'].dropna(how='all').astype(str).str.replace(r'\D', '', regex=True)
df['Telefone Contato 3'].dropna(how='all')

In [ ]:
# Definindo função que irá padronizar os números de telefone do DataFrame. 
def padroniza_tel(tel):
    return ''.join(filter(str.isdigit, str(tel))) if pd.notnull(tel) else ''

In [ ]:
# Padroniza os telefones nos dataframes

df['Telefone Contato 1'] = df['Telefone Contato 1'].apply(padroniza_tel)
df['Telefone Contato 2'] = df['Telefone Contato 2'].apply(padroniza_tel)
df['Telefone Contato 3'] = df['Telefone Contato 3'].apply(padroniza_tel)
df_telefone = df_telefone.apply(padroniza_tel)
df['telefone'] = df_telefone

In [ ]:

for col in ['Telefone Contato 1', 'Telefone Contato 2', 'Telefone Contato 3']:
    df[col] = df.apply(lambda row: '' if row[col] == row['telefone'] else row[col], axis=1)

In [ ]:
df = df.dropna(subset=['Instituição'])

In [ ]:
# Concatenando coluna 'DDD' com 'Telefone da instituição'
df_telefone = df['DDD'].fillna('').astype(str) + df['Telefone da Instituição'].fillna(' ').astype(str)
df_telefone

# Organizando as colunas do DataFrame

In [ ]:
# Padronizando colunas com letra maiuscúla
df.columns = df.columns.str.upper()

In [ ]:
# Incluindo coluna Tipo de Empresa e Nível de ensino
df['TIPO DE EMPRESA'] = ''

In [ ]:
# Organizando as colunas 
df = df[[
    'ORIGEM', 'CÓDIGO DA INSTITUIÇÃO', 'INSTITUIÇÃO', 'SIGLA', 'TIPO DE EMPRESA', 'DEPENDÊNCIA ADMINISTRATIVA', 'CATEGORIA', 'GRUPO CONSOLIDADOR',
    'NÍVEL DE ENSINO', 'RANGE DE MATRÍCULAS', 'TOTAL DE MATRÍCULAS', 'TICKET MÉDIO',  'ENDEREÇO', 'NÚMERO', 'COMPLEMENTO', 'BAIRRO', 'CEP','MUNICÍPIO', 'ESTADO', 'REGIÃO',
    'TELEFONE', 'NOME CONTATO 1', 'CARGO CONTATO 1 ', 'E-MAIL CONTATO 1', 'TELEFONE CONTATO 1', 'NOME CONTATO 2', 'CARGO CONTATO 2', 'EMAIL CONTATO 2', 'TELEFONE CONTATO 2',    
    'NOME CONTATO 3', 'CARGO CONTATO 3 ', 'EMAIL CONTATO 3', 'TELEFONE CONTATO 3' ]]

In [ ]:
# Renomeando colunas 
df = df.rename(columns={
    'INSTITUIÇÃO': 'EMPRESA',
    'NOME CONTATO 1': 'CONTATO I',
    'CARGO CONTATO 1 ': 'ÁREA I',
    'E-MAIL CONTATO 1': 'EMAIL I',
    'TELEFONE CONTATO 1': 'TELEFONE CONTATO I',
    'NOME CONTATO 2': 'CONTATO II',
    'CARGO CONTATO 2': 'ÁREA II',
    'EMAIL CONTATO 2': 'EMAIL II',
    'TELEFONE CONTATO 2': 'TELEFONE CONTATO II',
    'NOME CONTATO 3': 'CONTATO III',
    'CARGO CONTATO 3 ': 'ÁREA III',
    'EMAIL CONTATO 3': 'EMAIL III',
    'TELEFONE CONTATO 3': 'TELEFONE CONTATO III'
})

In [ ]:
# Renomeando coluna de telefone para telefona da instituição
df = df.rename(columns={'TELEFONE': 'TELEFONE DA INSTITUIÇÃO'})

In [ ]:
# Definindo tipos de empresas
df['TIPO DE EMPRESA'] = 'Instituição de ensino'

In [ ]:
# Convertendo campos float para int64
df['CÓDIGO DA INSTITUIÇÃO'] = df['CÓDIGO DA INSTITUIÇÃO'].astype('Int64')
df['CEP'] = df['CEP'].astype('Int64')
df['TOTAL DE MATRÍCULAS'] = df['TOTAL DE MATRÍCULAS'].astype('Int64')

# Melhorando o Range de Matrículas

In [ ]:
# definindo limites e criando as nomenclaturas 
bins = [0, 500, 1000, 1500, 2000, 2500, 3000, 3500, float('inf')]
labels = ['0 a 500', '501 a 1000', '1001 a 1500', '1501 a 2000', '2001 a 2500', '2501 a 3000', '3001 a 3500', '3501 a infinito']

In [ ]:
df['RANGE DE MATRÍCULAS'] = pd.cut(df['TOTAL DE MATRÍCULAS'], bins=bins, labels=labels, right=True, include_lowest=True)

# Dividindo o arquivo em lotes menores
Necessário para realizar a carga no Mautic

In [ ]:
# Definindo tamanho dos lotes

lote = 9000

In [ ]:
# Dividindo e salvando os arquivos

for i in range(0, len(df), lote):
    df_carga = df.iloc[i:i + lote]
    df_carga.to_csv(f"carga_dados_v{i//lote + 1}.csv", index=False)

In [31]:
df['TOTAL DE MATRÍCULAS'].value_counts()

TOTAL DE MATRÍCULAS
0.0        16826
102.0        167
90.0         156
120.0        150
72.0         149
           ...
20646.0        1
13244.0        1
10694.0        1
3620.0         1
15239.0        1
Name: count, Length: 3142, dtype: int64

In [34]:
df.columns

Index(['ORIGEM', 'CÓDIGO DA INSTITUIÇÃO', 'EMPRESA', 'SIGLA',
       'TIPO DE EMPRESA', 'DEPENDÊNCIA ADMINISTRATIVA', 'CATEGORIA',
       'GRUPO CONSOLIDADOR', 'NÍVEL DE ENSINO', 'RANGE DE MATRÍCULAS',
       'TOTAL DE MATRÍCULAS', 'TICKET MÉDIO', 'ENDEREÇO', 'NÚMERO',
       'COMPLEMENTO', 'BAIRRO', 'CEP', 'MUNICÍPIO', 'ESTADO', 'REGIÃO',
       'TELEFONE DA INSTITUIÇÃO', 'CONTATO I', 'ÁREA I', 'EMAIL I',
       'TELEFONE CONTATO I', 'CONTATO II', 'ÁREA II', 'EMAIL II',
       'TELEFONE CONTATO II', 'CONTATO III', 'ÁREA III', 'EMAIL III',
       'TELEFONE CONTATO III'],
      dtype='object')